<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header class="main-header">
        <div class="top-row">
            <div class="column-logo-center">
                <a href="Home/Index"><img class="logo_pic" src=@Url.Content("~/Content/logosite.jpg") height="350" /></a>
            </div>

            @Html.Partial("_LoginPartial")

        </div>
        <hr class="nav-line-top">
        <div class="bottom-row">
            <div class="row">
                <div class="menu-container text-center">
                    <div class="main-menu">
                        <ul class="front-nav">
                            <li class="nav-item"> @Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="nav-item" id="dropdown">
                                @Html.ActionLink("Store  ▼", "Index", "Store")
                                <div class="dropdown-content">
                                    @{Html.RenderAction("GenreMenuDropDown", "Store");}
                                </div>
                            </li>
                            <li class="nav-item"> @Html.ActionLink("About", "About", "Home")</li>
                            <li class="nav-item"> @Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        <div id="search">
                            @using (Html.BeginForm("Search", "Store"))
                            {
                                @Html.TextBox("SearchText")
                            }
                            <img id="search_logo" src=@Url.Content("~/Content/search_logo.png") />
                        </div>
                    </div>
                </div>
            </div>
            <hr class="nav-line-bottom">
        </div>

    </header>
    <div class="container_body_content">
        <div id="main" class="container clear-top">
            @RenderBody()
        </div>
    </div>

    <div class="footer">
        <footer>
            <div id="footer_info">
                <p class="footer_titles">&copy; @DateTime.Now.Year - Running </p>
            </div>
            <div id="footer_store">
                <p class="footer_titles">STORE</p>
                <ul class="info_list">
                    <li id="bottom_list1">About</li>
                    <li id="bottom_list2">Contact</li>
                    <li id="bottom_list3">Facebook</li>
                </ul>
            </div>
            <div id="footer_subscribe">
                <p class="footer_titles">SUBSCRIBE</p>
            </div>
        </footer>
    </div>
</body>
</html>
